{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes de cuisine
{% endblock %}


{% block body %}
	<div class="container mt-4 text-center">
		<h1>
			{{ controller_name }}! ✅
		</h1>
		<p>Recette
			{{ id }}
			:
			{{ slug }}</p>
	</div>
	<div
		class="container mt-4 ">
		{# Pour afficher un tableau, il faut utiliser '.' person.firstName #}
		<p>Nom du personne :
			{{ person.firstName }}
		</p>
		<p>Prénom de la personne:
			{{ person.lastName }}
		</p>
	</div>
{% endblock %}
