{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes de cuisine
{% endblock %}


{% block body %}
	<div class="container mt-4">
		<h2>{{ recipe.title }}</h2>
		<p>Recette:
			{{ recipe.content | nl2br }}</p>
		<p>Durée:
			{{ recipe.duration }}
			minutes</p>
	</div>
	<div class="container mt-4">
		<a class="btn btn-secondary" href="{{ path('recipe.index') }}">Retour</a>
		<a class="btn btn-primary" href="{{ path('recipe.edit', { id: recipe.id }) }}">Edit</a>

	

	</div>
{% endblock %}
